target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
spring/.settings/
spring/.classpath
spring/.project
cdi/.settings/
cdi/.classpath
cdi/.project
springboot/.settings/
springboot/.classpath
springboot/.project
springboot-xml/.settings/
springboot-xml/.classpath
springboot-xml/.project
springboot-fatjar/.settings/
springboot-fatjar/.classpath
springboot-fatjar/.project
